.div, .panel{
    -webkit-animation-name: display; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: display;
    animation-duration: 2s;    
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes display {
    from {opacity: 0}
    to {opacity: 1}
}

/* Standard syntax */
@keyframes display {
    from {opacity: 0}
    to {opacity: 1}
}
.panelHeading{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: #2a8bf9;
}
.Panel:hover{
    box-shadow: inset 0px 0px 0px 2px #2a8bf9;
    cursor: pointer; 
}
.PanelActive{
    box-shadow: inset 0px 0px 0px 3px #2a8bf9;
    -webkit-animation-name: display; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: display;
    animation-duration: 2s;  
}
.questionHeading{
    background-color: white;
    color: #2a8bf9;
    font-weight: bold;
    text-align: left;
}
.button{
    background-color: #2a8bf9;
    border-radius: 15px;
    color: white;
    font-weight: bold; 
    padding-left: 5%;
    padding-right: 5%
}
.div{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 2% 5%;
}
.list-group-item{
    text-align: left
}