.list-group-item{
    background-color: transparent;
    font-weight: 500;
    border-left: 0px;
    border-right: 0px;
    padding: 5%;
    -webkit-animation-name: display; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: display;
    animation-duration: 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes display {
    from {opacity: 0}
    to {opacity: 1}
}

/* Standard syntax */
@keyframes display {
    from {opacity: 0}
    to {opacity: 1}
}

.list-group-item:hover, .topic:hover{
    color: #2a8bf9;
    cursor: pointer;
    padding-left: 10%;
}
*:focus{
    outline: none;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    color: #2a8bf9;
    background-color: transparent;
}
.icon{
    margin-top: 5px;
}
.subBar{
    padding-left: 8%;
    font-size: 13px;
    border-bottom: 0px;
    border-top: 0px
}
.active{
    color: #2a8bf9;
}
